<div class="mx-3 mt-5">
  <div class="mb-3 w-100 mx-auto text-center">
  <h1>Restaurants</h1>
  </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Cousine</th>
      <th scope="col">Borough</th>
      <th scope="col">Address</th>
      <th scope="col">Grades</th>
    </tr>
  </thead>
  <tbody>
      {{#each restaurants}}
    <tr>
      <th scope="row">{{this.restaurant_id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.cuisine}}</td>
      <td>{{this.borough}}</td>
      <td>{{this.address.building}} {{this.address.street}}, {{this.address.zipcode}}</td>
      <td>
        <ul>
          {{#each this.grades}}
            <li>{{dateFormat this.date}}, {{this.grade}}, {{this.score}}</li>
          {{/each}}
        </ul>
      </td>
    </tr> 
    {{/each}}
  </tbody>
</table>
</div>